<!-- Layout Page -->

<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
        <!-- Including haeder by <%- -%>  -->
        <%- include ('_header'); -%>

        <%- body %>

        <%- include ('_footer'); -%>
    </body>
</html>